---
import Button from '@/components/Button.astro';
import { t } from '@/locales';
import { formatDate } from '@/utils';
---

<footer class="px-4 mx-auto py-9 md:pt-24 max-w-7xl">
  <div class="grid-cols-12 gap-6 lg:grid">
    <div class="flex flex-col mt-12 col-span-5 lg:mt-0">
      <h2 class="text-lg font-bold md:text-xl lg:text-2xl">
        {t('footer.speaker.title')}
      </h2>
      <p class="mt-4 md:mt-7">{t('footer.speaker.info')}</p>
      <div class="mt-6 space-y-4 sm:space-y-0">
        <Button
          as="a"
          href={t('footer.speaker.contact_us_link')}
          target="_blank"
          rel="noopener"
          scheme="outline"
          className="mr-5 xl:px-10"
        >
          {t('footer.speaker.contact_us')}
        </Button>
        <Button
          as="a"
          href={t('footer.speaker.submit_paper_link')}
          target="_blank"
          rel="noopener"
          scheme="cyan"
        >
          {t('footer.speaker.submit_paper')}
        </Button>
      </div>
    </div>
  </div>

  <address
    class="items-center justify-between mt-12 text-sm not-italic md:flex md:mt-32 link"
  >
    <p set:html={t('footer.made_by')} />
    <p>
      hosted by{' '}
      <a
        href="https://www.infomaniak.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Infomaniak
      </a>
    </p>
    <p>Webmardi © {formatDate(new Date(), 'yyyy')}</p>
  </address>
</footer>
