@font-face {
  font-family: 'Space Grotesk';
  src: 'fonts/SpaceGroteskVariable.woff2' format('woff2-variations');
  font-weight: 125 900;
  font-style: normal;
}

:root {
  --color-main: #2525a5;
  --color-secondary: #00c9ff;
  --color-white: #fff;
  --color-white-hover: var(--color-secondary);

  --spacer: 25px;
  --font-size-lg: 1.6818181818rem;
  --font-size-xl: 3.6363636364rem;
}

html {
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 22px;

  @media screen and (max-width: 1200px) {
    font-size: 19px;
  }

  @media screen and (max-width: 960px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-main);
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Block helpers
.bg-main {
  background-color: var(--color-main);
  color: var(--color-white);
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0 calc(#{var(--spacer)} / 2);
  padding: 5rem 0 4rem;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;

    .cta {
      order: 1;
    }
  }
}

.mb-0 {
  margin-bottom: 0;
}

.grid-session {
  display: grid;
  grid-template:
    "date date" auto
    "title title" auto
    "speaker time" auto
    / 1fr 1fr;
  grid-gap: 0 calc(#{var(--spacer)} / 2);

  @media screen and (max-width: 500px) {
    grid-template:
      "date date" auto
      "title title" auto
      "speaker speaker" auto
      "time time" auto
      / 1fr 1fr;
    ;
  }
}

// Typography helpers
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 900;
}

p {
  margin-top: 0;
}

a {
  transition: color 0.2s ease-out;
}

.text-secondary {
  color: var(--color-secondary);
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: bold;
}

.display-1 {
  font-size: var(--font-size-xl);
  line-height: 1.0375;
}

.lead {
  font-size: var(--font-size-lg);
  line-height: 1.1351351351;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

// Layout
.container {
  margin: 0 3.5vw;
}

// Header component
.header {
  padding-top: 40px;
  padding-bottom: 1vw;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-socials {
  display: flex;

  a {
    margin-left: 1.2rem;
    line-height: 0;

    &:hover {
      --color-white: var(--color-white-hover);
    }
  }
}

// Footer component
.footer {
  padding: 4rem 0 2rem;

  h2 {
    text-align: center;
  }

  .sponsors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
}

.footer-copy {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

// Slider component
.slider {
  display: flex;
  margin-bottom: var(--spacer);
  max-width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  > * {
    flex-grow: 1;
    padding: 0 calc(#{var(--spacer)} / 2);
    scroll-snap-align: start;
    scroll-margin-left: calc(3.5vw - #{var(--spacer)} / 2);

    &:first-child {
      padding-left: 3.5vw;
    }

    &:last-child {
      padding-right: 3.5vw;
    }

    img {
      display: block;
      max-width: calc(100vw - var(--spacer) * 2.5);
    }
  }
}
