---
import { format, isAfter, parseISO } from 'date-fns';
import { groupBy, keys } from 'ramda';

import Button from '@/components/Button.astro';
import EventTeaser from '@/components/EventTeaser.astro';
import Sponsors from '@/components/Sponsors.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { t } from '@/locales';
import { Event } from '@/types';
import { getEvents } from '@/utils';

const events = await getEvents();

const years = groupBy(
  i => format(parseISO(i.date ?? ''), 'yyyy'),
  events.sort((a, b) =>
    isAfter(parseISO(b.date ?? ''), parseISO(a.date ?? '')) ? 1 : -1
  )
);
---

<BaseLayout title={t('homepage.events.title')}>
  <h1 class="sr-only">{t('homepage.events.title')}</h1>

  <main class="px-4 mx-auto mb-20 max-w-7xl">
    <section>
      <div class="mt-12 grid-cols-2 gap-6 md:grid">
        <h2
          class="text-xl font-bold col-span-2 md:text-xl lg:text-2xl"
          itemprop="name"
        >
          {t('homepage.events.title')}
        </h2>
        <p class="mt-2 link" set:html={t('homepage.events.content')} />
        <div class="mt-6 md:text-right md:mt-0">
          <Button
            as="a"
            target="_blank"
            rel="noopener"
            href={t('homepage.events.meetup_link')}
            itemprop="url"
          >
            {t('homepage.events.view_on_meetup')}
          </Button>
        </div>

        <input
          id="search"
          type="text"
          class="w-full px-4 py-2 mt-12 mr-5 text-sm md:text-base placeholder-blue border-blue focus:ring-blue-dark focus:border-blue-dark"
          placeholder={t('homepage.events.search')}
        />
      </div>

      {
        keys(years)
          .sort((a, b) => +b - +a)
          .map(year => (
            <div>
              <h3 class="pb-6 mt-12 text-lg font-bold border-b-4 md:text-xl border-blue">
                {year}
              </h3>

              <ul>
                {years[year]!.map(event => (
                  <EventTeaser event={event as Event} />
                ))}
              </ul>
            </div>
          ))
      }
    </section>
  </main>

  <Sponsors />
</BaseLayout>

<script>
  import slugify from 'slugify';

  const search = document.getElementById('search');
  search?.addEventListener('input', e => {
    const value = slugify((e.target as HTMLInputElement)?.value, {
      lower: true,
    });
    const events: NodeListOf<HTMLUListElement> =
      document.querySelectorAll('.event-teaser');

    events.forEach(event => {
      if (event.dataset.slug?.includes(value)) {
        event.classList.remove('hidden');
      } else {
        event.classList.add('hidden');
      }
    });
  });
</script>
